* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: aqua;
    padding: 50px;
    border-radius: 20px;
    border: none;
}

.wrapper-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    color: black;
    font-size: 35px;
    text-align: center;
    margin-top: 2rem;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid white;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 16px;
    transform: translateY(-50%);
    color: aliceblue;
    pointer-events: none;
}

.input-group input {
    width: 320px;
    height: 40px;
    background-color: transparent;
    border-radius: 14px;
    border: none;
    padding: 0 5px;
    outline: none;
    color: aliceblue;
}


.remember-forgot {
    margin: -5px 0 15px 5px;
}

.remember-forgot label {
    cursor: pointer;
    margin-top: 1rem;
}


button {
    padding: 10px 80px;
    margin-left: 50px;
    border-radius: 14px;
    border: none;
    background-color: chocolate;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2rem;
}

button:hover {
    background-color: crimson;
    color: aliceblue;
    transition: .7s ease;
}

.signup-btn {
    margin: 2rem;
    margin-left: 60px;
}